
//colores

$verde:#84d9bc;
$gris:#313c4e;

$primary:$verde;
$secondary:$gris;

//tipografia
$headings-font-family: 'Poppins';
$headings-font-weight: 700;
$font-family-sans-serif:  'Poppins';

//importar bootstrap 
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';